body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.title {
    padding-bottom: 15px;
    text-align: center;
    display: block;
}

.datalist-container, .achievements-panel {
    display: block;
    margin-top: 50px;
    justify-content: center;
}

.item-label {
    margin-right: 10px;
    text-align: center;
}

.feedback {
    width: 100%;
    margin-right: 10px;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
}

.item-template {
    width: 200px;
    height: 225px;
    animation: slideIn 1s ease forwards;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 3px;
    margin: 5px auto;
}

    .item-template.featured {
        background-color: lightgreen;
    }

    .item-template.transparent {
        background-color: transparent;
    }

.maps-template {
    width: 125%;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

    .maps-template .lock-button {
        position: absolute;
        left: 2.5%;
    }

.datalist-container, .achievements-panel {
    display: block;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

    .datalist-container > *, .achievements-panel > * {
        margin: 0 auto;
    }

.content-wrapper {
    padding-bottom: 100px;
}

.other-labels {
    margin-right: 10px;
}

.profilePicture {
    border-radius: 100%;
    padding-top: 5px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-item {
    animation: slideIn 1s ease forwards;
    opacity: 0;
}

footer.footer-section {
    width: 100%;
    background-color: #aaaaaa;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
