.maps-template {
    width: 750px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
    text-align: center;
}

.other-labels {
    margin-right: 10px;
}

.datalist-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-item {
    animation: slideIn 1s ease forwards;
    opacity: 0;
}
