*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('DungeonMakerBG2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    font-family: 'Gill Sans', sans-serif;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

    .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

.form-container {
    height: 550px;
    width: 420px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    animation: slideIn 1s ease forwards;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

    .form-container * {
        color: #000000;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .form-container h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

.input-label {
    display: block;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
}

.error-message {
    color: red;
    display: block;
    margin-top: 25px;
    font-size: 13px;
    font-weight: 200;
}

.title-label {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

.link {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 13px;
    font-weight: 200;
    color: blue;
}

.input-field {
    display: block;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    width: 330px;
    height: 45px;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
}

    .input-field::placeholder {
        color: #999999;
    }

.flag-icon {
    position: absolute;
    right: 17%;
    top: 38%;
    transform: translateY(-50%);
    z-index: 1;
}

.submit-button {
    margin-top: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    color: #000000;
    padding: 13px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .submit-button:hover {
        background-color: rgba(0, 0, 0, 0.17);
        color: #000000;
    }

#SignUp_Button {
    margin-top: 10px;
}

.disabled-hover:hover {
    background-color: rgba(0, 0, 0, 0.17);
    color: #000000;
    cursor: not-allowed;
}

.hidden-validator {
    display: none;
    margin-bottom: 0px;
}

.tos-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 300;
}

.inline-label {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.inline-input {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 160px;
    height: 45px;
}

#Back_Button {
    background-color: #aaaaaa;
    color: #000000;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Georgia', 'Times New Roman', serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 10%;
    left: 5%;
    margin: 10px;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px) translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translate(-50%, -50%);
    }
}