.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.item:hover {
    transform: scale(1.1);
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
}

.name {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    margin-top: -35px;
}

.title-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 73px;
}

.animated-cost {
    color: red;
    animation: enlargeAndShrink 2s ease-in-out 2;
}

@keyframes enlargeAndShrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
