html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Logo {
    cursor: pointer;
}

#navigation {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #aaaaaa;
    color: #fff;
    height: 50px;
}

.nav-label {
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

#LogoutButton {
    margin-left: auto;
}

#imgCredits{
    position: absolute;
    left: 82.5%;
}

#litCredits {
    position: absolute;
    left: 85.5%;
}

#ProfilePic {
    margin-left: 5px;
    border-radius: 100%;
}

.wrapper {
    margin-top: 77px;
    position: relative;
    min-height: 100%;
}

footer.footer-section {
    width: 100%;
    background-color: #aaaaaa;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .footer-content .copyright {
        flex: 1;
    }

    .footer-content .additional-links {
        flex: 1;
        text-align: right;
    }

    .footer-content a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
    }

        .footer-content a:hover {
            text-decoration: underline;
        }