body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.datalist-container {
    display: flex;
    margin-top: 20px;
    place-content: center;
    text-align: center;
}

.item-label {
    margin: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.label {
    text-align: center;
}

.item-image,
.item-button {
    margin: 8px;
}

.item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Delete-Button {
    color: white;
    margin: 8px;
}

.center-container {
    text-align: center;
    place-content: center;
    justify-content: center;
}

.panel {
    height: 400px;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 100%;
}

.gridview-style {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px; 
}
    .gridview-style th {
        background-color: #f2f2f2;
        color: #333;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        border-bottom: 2px solid #ddd;
    }

    .gridview-style td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
        .gridview-style td:nth-child(4) { 
            width: 240px; 
        }
        .gridview-style td:hover {
            background-color: #e0e0e0;
            cursor: pointer;
        }

    .gridview-style tr:nth-child(even) {
        background-color: #f9f9f9;
    }

.gridview-container {
    padding-left: 100px;
}

.maps-template {
    width: auto;
    height: auto;
    animation: slideIn 1s ease forwards;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 7px;
}